
.mma-hsuforum-discussion-link {
    text-decoration: none;
}

.mma-hsuforum-align-right {
    justify-content: flex-end;
}

.mma-hsuforum-border {
    //border-color: $item-default-border;
    //border-width: $item-border-width;
    border-style: solid;
}

.mm-site_mod_hsuforum-discussion .card.highlight .item.item-avatar {
    //background-color: $stable;
    font-weight: bold;
}

.mm-site_mod_hsuforum-discussion .card.highlight .item.item-avatar h2 {
    font-weight: bold;
}
